body {
    background-color: #F2C2D3;
}
::-webkit-scrollbar {
    width: 12px;  
}
::-webkit-scrollbar-track {
    background: #BBF0E3;
}
::-webkit-scrollbar-thumb {
    background: #BFBBF0;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #D9BBF0;
}
body{
    text-align: center;
}
.imagen1{
    width:500px;
    display:block;
    border-radius:5px;
    border-radius:15%;
    border:1px solid black;
    box-shadow:0px 4px 10px rgba(0,0,0,0.3);
    margin:auto;
}
